.imgcon
{
    width: 100%;
    min-height: 30vh;
}
.img
{
    filter: brightness(50%);
    min-height: 30vh;
    width: 100%;
}
.title
{
    position: absolute;
    font-size: 8vw;
    top: 22vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: var(--gradient-two);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}