.container
{
    display: grid;
    place-items: center;
    margin-top: 5vh;
}

.form 
{
    border: 2px solid black;
    border-radius: 15px;
    padding: 5vmin;
}
.input
{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}