:root
{
    --primary-color: rgb(51, 139, 147);
    --secondary-color: rgb(182, 244, 146);
    --acccent-color: rgb(94, 231, 255);

    --gradient-one: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --gradient-two: linear-gradient(to right, var(--acccent-color), var(--secondary-color));
    --gradient-three: linear-gradient(to right, var(--primary-color), var(--acccent-color));
}